<div id="user-page">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><h1><%= message %></h1></div>
  <% end %>

  <% if @user.image.exists? %>
      <%= image_tag @user.image.url %><br/>
  <% end %>
  <h1>Your on your way to becoming an Internaut! <%= @user.username%></h1><br>

  <h1>Join games, gain reps, and become a legendary internaut. Follow the links above to join some sports activites. </h1><br><br>


  <%= button_to 'DELETE', @user, :method => :delete %>

</div>
